<!DOCTYPE html> 
                        <html> 
                        <head> 
                        <title>Hello Friend!</title> 
                        <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
                        </head> 
                        <body> 
                        <h1>Favorite Traveling Photos</h1> 
                        <ul> 
                        <li><img src='/images/beach.jpg' alt='beach Sunset'/></li> 
                        <li><img src='/images/watchtower.jpg' alt='Watchtower'/></li> 
                        <li><img src='/images/jungle.jpg' alt='Jungle'/></li> 
                        <li><img src='/images/mount.jpg' alt='Mountain'/></li> 
                        </ul>
                        </body>
                         </html>